xmlRep/Act 1/EjemplorealBiblioteca/EjemplorealBiblioteca.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

 <xs:element name="ListaPeliculas">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Pelicula" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Titulo" type="xs:string"/>
            <xs:element name="Director" type="xs:string"/>
            <xs:element name="AnioLanzamiento" type="xs:integer"/>
            <xs:element name="Genero" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
 </xs:element>

</xs:schema>