xmlRep/Act 5/Alumno2/Alumno2.dtd

<!ELEMENT entrevista (candidato+)>
<!ELEMENT candidato (nombre, puesto, resultado, observaciones?, contacto)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT puesto (#PCDATA)>
<!ELEMENT resultado (Apto | NoApto)>
<!ELEMENT Apto EMPTY>
<!ELEMENT NoApto EMPTY>
<!ELEMENT observaciones (#PCDATA)>
<!ELEMENT contacto (telefono, correo)>
<!ELEMENT telefono (#PCDATA)>
<!ELEMENT correo (#PCDATA)>
